// Bootstrap overrides
$enable-rounded: true !default;
$enable-shadows: true;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;
$theme-colors: (
primary: #EE0978,
secondary: #FF6901,
light: #f5f5f5,
dark: #333,
info: #bab9ba,
success: #28a745,
warning: #f5c58d,
danger: #dc3545
);
$white: #fff;
$body-bg: white;
$body-color: #463537;
$body-color-inverse: invert($body-color) !default;
$link-color: #EE0978;

// Fonts
$font-family-base: Roboto Condensed;
$headings-font-family: Roboto Condensed;
$display-font-family: Roboto Condensed;
$font-weight-normal: 200;
$headings-font-weight: 200;
$lead-font-size: 1.30rem;
$font-weight-base: 400;
$border-radius: 3px;
$border-radius-lg: $border-radius * 1.2;
$border-radius-sm: $border-radius * .8;
$spacer: .5rem;

// placeholder
$input-placeholder-color: #999 !default;
// breadcrum
$breadcrumb-bg: transparent !default;
$breadcrumb-divider: quote("//") !default;
// badge
$badge-border-radius: 50px !default;
$btn-box-shadow: none !default;


