// SIDEBAR
#sidebar-left,
#sidebar-right {
    background-color: theme-color("light");
}
button#sidebar-rightCollapse::before,
button#sidebar-leftCollapse::before {
    background-color: theme-color("light");
}
nav a {
    color: theme-color("dark");
}
// FORM
.form-group::after,
.form-group::before {
    background-color: theme-color("secondary");
}
.form-group::after {
    background-color: theme-color("primary");
}
// CARD
.card-header {
    background-color: theme-color("light");
}
.card {
    border-color: theme-color("light");
}
.card.carousel {
    border-color: ($white)!important;
    background-color: transparent!important;
}
.card.carousel i {
    color: theme-color("primary");
}
#sidebar-left .list-unstyled i {
    color: theme-color("secondary");
}

.monthly-today .monthly-day-number {
    color: theme-color("light");
    background-color: theme-color("primary");
}
.monthly-event-list {
    background-color: theme-color("light");
}

#pills-tab .nav-item .nav-link.active {
    color: theme-color("light");
    background-color: theme-color("primary");
}

.gradient-primary {
    background: linear-gradient(to bottom, rgba(theme-color("secondary"), 1) 0%, rgba(theme-color("primary"), .5) 100%);
}

.navbar.bg-primary {
  background-image: linear-gradient(-45deg, theme-color("primary"), theme-color("secondary"));
}

#topnav-lang li.active {
  background-color: theme-color("secondary");
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}


.btn {
    text-transform: uppercase;
}

a.disabled {
    cursor: default;

    color: #cdcdcd;
}
a.disabled:hover {
    text-decoration: none;
}


.sticky-top {
    z-index: 99999;
}

header {
    z-index: 100000!important;
}

#topnav-lang li a {
    opacity: .5;
}

#topnav-lang li.active a {
    opacity: 1
}


/* ---------------------------------------------------
    SIDEBAR LEFT STYLE
----------------------------------------------------- */
.wrapper {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    /*overflow: hidden;*/

    align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    height: calc(100% - 87px);
}
.wrapper .sticky-top {
    top: 90px;
}
#sidebar-left li > a {
    font-size: .9rem;
}
button#sidebar-leftCollapse {
    float: right;
    min-height: 81.1vh;
    margin-right: -25px;
}
button#sidebar-rightCollapse {
    float: left;
    min-height: 81.1vh;
    margin-left: -26px;
}
button#sidebar-leftCollapse,
button#sidebar-rightCollapse {
    padding: 0;

    border: none;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    /*height: 30px;*/
}

button#sidebar-leftCollapse:focus,
button#sidebar-rightCollapse:focus {
    outline: none;
}
button#sidebar-rightCollapse span {
    display: none;
}
button#sidebar-leftCollapse span {
    display: none;
}

button#sidebar-rightCollapse::before,
button#sidebar-leftCollapse::before {
    position: relative;
    top: 35%;

    padding: 10px;
}
button#sidebar-leftCollapse::before {
  @include material;

  content: "keyboard_arrow_left";
}

.active button#sidebar-leftCollapse::before {
    @include material;

    content: "keyboard_arrow_right";
}
button#sidebar-rightCollapse::before {
    @include material;
    // font-family: FontAwesome;

    content: "keyboard_arrow_right";
}
.active button#sidebar-rightCollapse::before {
    @include material;
    // font-family: FontAwesome;

    content: "keyboard_arrow_left";
}


#sidebar-left {
    z-index: 50000;

    max-width: 250px;
    min-width: 250px;

    font-family: Roboto Condensed;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    text-transform: uppercase;
}

#sidebar-left.active {
    max-width: 90px;
    /*margin-left: -250px;*/
    min-width: 90px;

    text-align: center;
}
#sidebar-left.active .sidebar-header > img {
    display: none!important;
}
#sidebar-left .sidebar-header img.img-fluid {
    max-height: 130px;
}

#sidebar-left.active .sidebar-header strong {
    display: block;
}


#sidebar-left .sidebar-header strong {
    display: none;

    font-size: 1.8em;
}
#sidebar-left.active a[aria-expanded="false"]::before,
#sidebar-left.active a[aria-expanded="true"]::before {
    top: auto;
    right: 50%;
    bottom: 5px;

    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
}
#sidebar-left.active li {
    margin: 5px 0;
}
#sidebar-left.active ul li a {
    padding: 20px 2px;

    font-size: .65em;
}
#sidebar-left.active li ul.list-unstyled {
    padding-left: 5px;
    margin: 10px 0 20px 0;

    font-size: 13px;

    text-align: left;
}
#sidebar-left ul li a:hover {
    text-decoration: none;
}

#sidebar-left.active ul li a i {
    display: block;
    margin-right: 0;
    margin-bottom: 5px;

    font-size: 2em;
}
#sidebar-left .list-unstyled li.active {
    padding: 5px 0;

    background: #fff;
}

#sidebar-left li {
    margin: 10px 0;
}
#sidebar-left i {
    margin: 0 10px;

    font-size: 20px;
}
#sidebar-left li ul li i {
    font-size: 10px;
}
#sidebar-left.active i {
    margin: 0;
}
#sidebar-left li ul.list-unstyled {
    margin: 0 0 20px 15px;

    font-size: 13px;
}

#sidebar-left a[data-toggle="collapse"] {
    position: relative;

    display: block;
}

#sidebar-left a[aria-expanded="true"]::before {
    position: absolute;
    right: 20px;

    @include material;
    font-size: 1em;
    

    content: "keyboard_arrow_up";
}
#sidebar-left a[aria-expanded="false"]::before {
    position: absolute;
    right: 20px;

    @include material;
    font-size: 1em;
    

    content: "keyboard_arrow_down";
}
#sidebar-left.active a[aria-expanded="false"]::before {

  content: "keyboard_arrow_down";
}
#sidebar-left.active li ul.list-unstyled i {
    display: none;
}

/* ---------------------------------------------------
    SIDEBAR RIGHT STYLE
----------------------------------------------------- */
#sidebar-right {
    max-width: 250px;
    min-width: 250px;

    font-family: Roboto Condensed;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    text-transform: uppercase;
}
#sidebar-right.active {
    margin-right: -250px;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 81.1vh;
    padding: 20px;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
/* ---------------------------------------------------
    TIMELINE STYLE
----------------------------------------------------- */
.timeline {
    max-height: 350px;
    padding: 0 10px 0 20px;
    overflow: auto;

    border-bottom: 1px solid #e3e3e3;
}
.item-timeline {
    position: relative;

    padding: 0 0 5px 25px;

    border-left: 2px solid #473537;
}

.item-timeline > span.cercle {
    position: absolute;
    top: 5px;
    left: -7px;

    width: 13px;
    height: 13px;

    border: 1px solid #473537;
    border-radius: 50%;
    background: #f6f5f6;
}

.item-timeline div {
    font-size: 14px;
}

.item-timeline p {
    margin-top: 10px;

    font-size: 13px;

    text-transform: initial;
}
/* ---------------------------------------------------
    CARD
----------------------------------------------------- */
.card-header {
    border-bottom: transparent;
}
.card.no-border,
.card.no-border .card-footer {
    border: none;
}
.card-footer.no-bg {
    background-color: transparent;
}

div.card-img-top {
    max-height: 200px;
    min-height: 200px;

    background-repeat: no-repeat;
    background-position: center center;
}
/* ---------------------------------------------------
    CARD-CAROUSEL
----------------------------------------------------- */
.card.carousel .card-header {
    border-bottom: none;
    background-color: transparent;
}
.card.carousel .carousel-control-prev,
.card-header .carousel-control-next {
    bottom: inherit;

    width: 40px;
    padding: .75rem 1.25rem;
}
.card.carousel .carousel-control-prev {
    right: 40px;
    left: inherit;
}
.card.carousel .carousel-control-prev,
.card.carousel .carousel-control-next {
    opacity: 1;
}
/* ---------------------------------------------------
    circles
----------------------------------------------------- */
.circle {
    position: relative;

    display: inline-block;
    width: 150px;
    margin: 20px auto;

    line-height: 1.2;

    text-align: center;
}
.circle strong {
    position: absolute;
    top: 45px;
    left: 0;

    width: 100%;

    font-size: 20px;
    line-height: 40px;

    text-align: center;
}
.circle span {
    position: absolute;
    top: 80px;
    left: 0;

    width: 100%;

    font-size: 12px;

    text-align: center;
}

/* ---------------------------------------------------
    login
----------------------------------------------------- */

#bg-login {
    background: url(../images/img-login.jpg) no-repeat center;
}
#bg-login .caption {
    padding: 40% 0;

    background: rgba(0, 0, 0, .3);
}
/* ---------------------------------------------------
    CALENDRIER
----------------------------------------------------- */
.legende li {
    padding: 2px 5px;
    margin: 0 5px;
}
.legende .bg-fait {
    background: #abe6c4;
}
.legende .bg-j-terme {
    background: #f5c58d;
}
.legende .bg-h-terme {
    background: #f58d8d;
}
.legende .bg-d-end {
    background: #cdabe6;
}
/* ---------------------------------------------------
    PILLS TAB
----------------------------------------------------- */
#pills-tab .nav-item .nav-link.active {
    height: 100%;
}
.nav-link.disabled {
    color: #c5c6c7;
}
/* ---------------------------------------------------
   BTN quantity
----------------------------------------------------- */
.plusminus {
    position: relative;

    display: inline-block;
    width: 22px;
    height: 100px;
    overflow: hidden;

    font-size: 0;
}
.plusminus button {
    position: absolute;

    display: block;
    width: 22px;
    height: 22px;
    padding: 0;
    margin: 0;

    font-size: 16px;
    line-height: 1;

    cursor: pointer;
    -webkit-transition: color 200ms;
         -o-transition: color 200ms;
            transition: color 200ms;

    color: #000;
    border: 0;
    border: 1px solid #000;
    border-radius: 50px;
}
.plusminus button:focus {
    color: #907578;
    outline: none;
}
.plusminus button:disabled {
    cursor: default;

    color: #ccc;
    border-color: #ccc;
}
.plusminus button:first-child {
    bottom: 0;
}
.plusminus button:first-child:before {
    content: "-";
}
.plusminus button:last-child {
    top: 0;
}
.plusminus button:last-child:before {
    content: "+";
}
.plusminus button:last-child:focus {
    color: #eb308a;
}
.plusminus input[type="number"] {
    position: absolute;
    top: 22px;

    width: 22px;
    height: 22px;
    margin: 0;

    font-size: 17px;

    text-align: center;

    border: 0;

    -moz-appearance: textfield;
}
.plusminus input[type="number"]::-webkit-outer-spin-button,
.plusminus input[type="number"]::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
       -moz-appearance: none;
}

.plusminus.horiz {
    width: 80px;
    height: 22px;

    vertical-align: middle;
}
.plusminus.horiz button:first-child {
    left: 0;
}
.plusminus.horiz button:last-child {
    right: 0;
}
.plusminus.horiz:after {
    bottom: 0;
}
.plusminus.horiz input[type="number"] {
    position: absolute;
    top: 0;
    left: 30px;

    background: transparent;
}

/* FOOTER */
.signature_mediactive {
    float: right;
    width: auto;
    height: 30px;
    margin-right: 20px;
}




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1300px) {
    .navbar-brand h3 {
        font-size: 1.1rem;
    }
    .navbar-nav h6 {
        font-size: .7rem;
    }
    button#sidebar-leftCollapse {
        margin-right: -32px;
    }
    #sidebar-left button#sidebar-leftCollapse span {
        position: relative;
        top: -85px;
        left: 4px;

        display: block;
        margin-left: -4px;

        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);

        color: #afafaf;
    }

    #sidebar-left {
        position: relative;
        /*border-right: 2px solid #ec308a;*/

        box-shadow: 0 0 30px #49505791;
    }


    #sidebar-right {
        position: absolute;
        right: 1px;
        z-index: 1000;

        height: 100%;
        max-width: 250px;
        min-width: 250px;
        min-height: 92vh;
        margin-right: -250px ;

        text-align: center;

        box-shadow: 0 0 30px #49505791;
        /*border-left: 2px solid #473537;*/
    }
    a[aria-expanded="false"]::before,
    a[aria-expanded="true"]::before {
        top: auto;
        right: 50%;
        bottom: 5px;

        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
    }
    #sidebar-left.active a[data-toggle="collapse"] {
        display: none;
    }
    #sidebar-left.active ul li ul li a {
        padding: 5px 2px;
    }
    #sidebar-left.active .list-unstyled {
        display: none;
    }

    #sidebar-left.active {
        max-width: 0;
        min-width: 0;
        margin-left: 0 ;
    }
    button#sidebar-rightCollapse::before {
        color: #fff;
        background-color: #473537;
    }
    button#sidebar-leftCollapse::before {
        color: #fff;
        background-color: #ec308a;
    }
    #sidebar-left.active button#sidebar-rightCollapse::before {
        left: 0;
    }

    #sidebar-right.active {
        margin-right: 0 ;
    }
    #sidebar-right.active #sidebar-leftCollapse span {
        display: none;
    }
    #sidebar-right.active #sidebar-left li > a {
        display: none;
    }
    #sidebar-left.active li > a {
        display: block;
    }
}
@media (max-width: 990px) {
    #bg-login .caption {
        padding: 5% 0;
    }
    #bg-login {
        height: 30%!important;
    }
    .login .h-100 {
        height: inherit!important;
    }
    .login .w-50 {
        width: inherit!important;
    }
    .signature_mediactive {
        float: inherit;
        margin: 20px;
        margin-right: 0;
    }
    #sidebar-left.active button#sidebar-leftCollapse span {
        position: relative;
        top: -68px;

        display: block;

        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);

        color: #afafaf;
    }
}

@media (max-width: 900px) {
    .top-info .border-left {
        border-left: none!important;
    }
    #navbarTop #topnav-user {
        text-align: center;
    }
    .navbar-brand h3 {
        margin: 0;

        font-size: 1.1rem;
    }
    body {
        font-size: .9rem;
    }
    h3,
    .h3 {
        font-size: 1.05rem;
    }
    h2,
    .h2 {
        font-size: 1.5rem;
    }
}
@media (max-width: 768px) {
    .signature_mediactive {
        float: inherit;
        margin: 20px;
        margin-right: 0;
    }
    #sidebar-left {
        position: absolute;

        height: 100%;
    }
    #sidebar-left.active button#sidebar-leftCollapse span {
        position: relative;
        top: -68px;

        display: block;

        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);

        color: #afafaf;
    }
}

.modal-backdrop { z-index: 100000; }
.modal{ z-index: 100001; }

.custom-control.radio-inline { display:inline-block; }

.input-group .js-select2 + .select2 {
    flex-grow: 1;
}

.input-group-append {

    margin-left: -1px;

}
.input-group-prepend, .input-group-append {

    display: flex;

}
.input-group-text {

    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

}
.input-group .input-group-text {

    background-color: #F4F4F4;
    border: none;
    border-radius: 0;
    color: #202020;

}

.is-invalid .select-like, .is-invalid .select2-container {
    border: solid 2px #D0021B !important;
}

.is-invalid .ezdz-thumbnail-container { color : #D0021B; }

.is-invalid .custom-control-label { color : #D0021B; }

.edit-compte:hover { cursor:pointer; }

.tag .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.tag .close {
    margin-top: -5px;
    margin-left: 5px;
    font-weight: 100;
}
.btn-group .btn-primary { height: 38px; }
.preview {
    overflow: hidden;
    width:480px;
    height:320px;
}

.dataTables_wrapper {
    flex-direction: column;
}
.dataTables_wrapper > .row {
    width: 100%;
}

.link-white { color:#ffffff; }